body {
  background-color: black;
  font-family: Verdnana;
  text-align: center;
}

h1 {
  font size: 50px;
  color: white;
}

h2 {
  font-weight 300;
  font-size: 42px;
}

p {
  color: gray;
  font-size: 21px;
}
